<div class="container">
  <div *ngFor="let ch of channelData; let i = index">
     
    <header class="header">
              {{ch.headerdate}}
        </header>
       
      <div *ngFor="let channel of ch.items; let i = index">
        <div class="ui-dataView row col-md-12">
          <div class="ui_subjectphoto col-md-1">
            <img src={{channel.subjectPhotoUrl}} alt="Avatar" class="avatar">
          </div>
          <div class="ui-titleRow  col-md-6">
            <section>
                <h6> {{channel.title}} </h6>
                <p> {{channel.description}} </p>
              </section>
          </div>
          <div class="ui-instructorPhoto col-md-1">
              <figure>
            <img src={{channel.instructorPhotoUrl}} alt="Avatar" class="avatar">
          </figure>

          </div>
          <div class="ui-instructorName col-md-2">
            {{channel.instructorName}}
          </div>
          <div class="col-md-2 time">
            {{channel.time  }}
          </div>
        </div>
  </div>

</div>